<div id="new_form">
  <h1>New IG Dancer</h1>
<p>IgHandle:</p>
<input type="text" name="link" value="" id="ighandle">
<p>Post:</p>
<input type="text" name="link" value="" id="post">
<p>Followers:</p>
<input type="text" name="link" value="" id="followers">
<p>Following:</p>
<input type="text" name="link" value="" id="following">
<p>Name:</p>
<input type="text" name="link" value="" id="name">
<p>Bio:</p>
<input type="text" name="link" value="" id="bio">

<button type="button" class="btnYes" id="trybtn" onclick="testing()">Submit</button>
</div>
