
<!DOCTYPE html>
<head>
<title>Are You A Dancer</title>
</head>
<div id="dancerig"><%= igs = Dancer.all.map { |r| r.ighandle } %></div>
<script>
    var igsData = <%= raw igs %>;
    var i = 0;
    function nextVideo() { 
        i = i + 1; // increase i by one
        i = i % igsData.length; // if we've gone too high, start from `0` again
        console.log(igsData[i]);
        window.open(`https://www.instagram.com/${igsData[i]}`);
        return igsData[i]; // give us back the item of where we are now

    }
    function openInstagram() {
        window.open(`https://www.instagram.com/${igsData[i]}`);
    }
    function yesbtn() {
        //client.query("INSERT INTO dancestyle WHERE ighandle = 'valeriamendozamedina' values('Dancer')");
       // <?php $result = pg_query($dbconn, "INSERT INTO dancers(firstname, lastname, location, email, dancestyle, phone, ighandle, created_at, updated_at) values('unter', 'Lopez', 'new york', 'hunterlop122@gmail.com', 'Dancer', '6463453641', 'hl_creates', '2016-05-04 17:30:19', '2016-05-04 17:30:19')");?>
        i = i + 1; // increase i by one
        i = i % igsData.length; // if we've gone too high, start from `0` again
        window.open(`https://www.instagram.com/${igsData[i]}`);
        return igsData[i]; // give us back the item of where we are now
    }
    function nobtn() {
        i = i + 1; // increase i by one
        i = i % igsData.length; // if we've gone too high, start from `0` again
        window.open(`https://www.instagram.com/${igsData[i]}`);
        return igsData[i]; // give us back the item of where we are now
    }
</script>
<div class="container" id="isContainer">
    <br>
    <div class="jumbotron">
        <h1 class="display-4" id="title">Is This A Dancer?</h1>
        <br>
        <div id="myButtons">
        <button type="button" class="btn" id="yesbtn" onclick="yesbtn()">Yes</button>
        <button type="button" class="btn" id="nobtn" onclick="nobtn()">No</button>
        </div>
        <button type="button" class="btn" id="GObtn" onclick="openInstagram()">Go To Dancer Page</button>
    </div>
</div>
</html>