
<div id="dancerig">
<%= igs = Dancer.all.map { |r| r.ighandle  } %>
<%= dancerC = Dancer.all.map { |r| r.dancestyle } %>
</div>
<script>
    var igsData = <%= raw igs %>;
    var dancerC = <%= raw dancerC %>;
    var together = igsData.concat(dancerC); 
</script>

<div class="container" id="isContainer">
    <br>
    <div class="jumbotron">
        <h1 class="display-4" id="title">Is A Dancer?</h1>
        <button type="button" class="btn" id="GObtn" onclick="openInstagram()">Go To Dancer Page</button>
        <br>
        <br>
        <div id="myButtons">
        <button type="button" class="btnYes" id="yesbtn" onclick="yesbtn()">Yes</button>
        <button type="button" class="btn" id="nobtn" onclick="nobtn()">No</button>
        </div>
    </div>
</div>
